<Settings>
	<name>Informatiemail</name>
	<schedule type="Weekly">
		<weekly>
			<RunOnDay>ma,di,wo,do,vr</RunOnDay>   
			<StartTime>21:15</StartTime>
		</weekly>  
	</schedule> 
	<Variables>
		<EXP_FIELD>INFO</EXP_FIELD>
		<EXP_STATIDS>2000,2001,2321</EXP_STATIDS>
	</Variables>	
	<System>false</System>
	<RegionalSettings>
		<Language>nl-NL</Language>
	</RegionalSettings>

	<Query>
		<SQL Collection="CALLLIST">
			select resdefs.resid, resdefs.name, cldefs.scriptid 
			from resdefs with (nolock) join cldefs with (nolock) on resdefs.resid = cldefs.clid 
			where cldefs.scriptid in (select distinct ScriptID from scriptflddefs with (nolock) where UPPER(fldname) = UPPER('%VARIABLE.EXP_FIELD%')) 
			and cldefs.scriptid in (select distinct ScriptID from scriptflddefs with (nolock) where UPPER(fldname) = UPPER('EXP_%VARIABLE.EXP_FIELD%')) 
		</SQL>
		<Query>
			<SQL Collection="ENTRY">
				select entry.* 
				from clentries entry with (nolock) 
				join callpro._r%CALLLIST.RESID% script with (nolock) on entry.clentryid = script.clentryid 
				where entry.statid in (%VARIABLE.EXP_STATIDS%) 
				and (script.EXP_%VARIABLE.EXP_FIELD% is null or script.EXP_%VARIABLE.EXP_FIELD% = '') 
				and not (script.%VARIABLE.EXP_FIELD% = '' or script.%VARIABLE.EXP_FIELD% is null)
			</SQL>
			<Query>
				<SQL Collection="SCRIPT">select * from callpro._r%CALLLIST.RESID% script with (nolock) where clentryid=%ENTRY.CLENTRYID%</SQL>
			</Query>
			<Query>
				<SQL Collection="AGENT">select * from resdefs with (nolock) where resid=%ENTRY.INLOGID \SW"","-52"%</SQL>
			</Query>

			<Query>
				<SQL Collection="EMAIL_TO">select '%'+'SCRIPT.'+'%VARIABLE.EXP_FIELD%'+'_EMAIL_TO%' as VALUE</SQL>
			</Query>
			<Query>
				<SQL Collection="ATTACHMENT">select '%'+'SCRIPT.'+'%VARIABLE.EXP_FIELD%'+'%' as VALUE</SQL>
			</Query>
			
			<Comment>Haal de benodigde EMAIL instellingen van de scriptdefintie op als ze er zijn</Comment>
			<Query>
				<SQL Collection="SCRIPTDEF_EMAIL">
				select 
				  (select CVALUE from resvariables with (nolock) where resid=%CALLLIST.SCRIPTID% and restype=30 and UPPER(NAME)=UPPER('%VARIABLE.EXP_FIELD%.EMAIL.SMTP')) as [SMTP]
				, (select CVALUE from resvariables with (nolock) where resid=%CALLLIST.SCRIPTID% and restype=30 and UPPER(NAME)=UPPER('%VARIABLE.EXP_FIELD%.EMAIL.FROM')) as [FROM]
				, (select CVALUE from resvariables with (nolock) where resid=%CALLLIST.SCRIPTID% and restype=30 and UPPER(NAME)=UPPER('%VARIABLE.EXP_FIELD%.EMAIL.NAME')) as [NAME]
				, (select CVALUE from resvariables with (nolock) where resid=%CALLLIST.SCRIPTID% and restype=30 and UPPER(NAME)=UPPER('%VARIABLE.EXP_FIELD%.EMAIL.TO')) as [TO]
				, (select CVALUE from resvariables with (nolock) where resid=%CALLLIST.SCRIPTID% and restype=30 and UPPER(NAME)=UPPER('%VARIABLE.EXP_FIELD%.EMAIL.CC')) as [CC]
				, (select CVALUE from resvariables with (nolock) where resid=%CALLLIST.SCRIPTID% and restype=30 and UPPER(NAME)=UPPER('%VARIABLE.EXP_FIELD%.EMAIL.BCC')) as [BCC]
				, (select CVALUE from resvariables with (nolock) where resid=%CALLLIST.SCRIPTID% and restype=30 and UPPER(NAME)=UPPER('%VARIABLE.EXP_FIELD%.EMAIL.SUBJECT')) as [SUBJECT]
				, (select MVALUE from resvariables with (nolock) where resid=%CALLLIST.SCRIPTID% and restype=30 and UPPER(NAME)=UPPER('%VARIABLE.EXP_FIELD%.EMAIL.BODY')) as [BODY]
				, (select CVALUE from resvariables with (nolock) where resid=%CALLLIST.SCRIPTID% and restype=30 and UPPER(NAME)=UPPER('%VARIABLE.EXP_FIELD%.EMAIL.TEMPLATE')) as [TEMPLATE]
				</SQL>
			</Query>

			<Comment>Haal de benodigde EMAIL instellingen van de campagne op als ze er zijn</Comment>
			<Query>
				<SQL Collection="CAMPAIGN">select top 1 campaignid from clentryattempts with (nolock) where clentryid=%ENTRY.CLENTRYID% order by createddtm desc</SQL>
				<Query>
					<SQL Collection="CAMPAIGN_EMAIL">
					select 
						(select CVALUE from resvariables with (nolock) where resid=%CAMPAIGN.CAMPAIGNID% and restype=2 and UPPER(NAME)=UPPER('%VARIABLE.EXP_FIELD%.EMAIL.SMTP')) as [SMTP]
					, (select CVALUE from resvariables with (nolock) where resid=%CAMPAIGN.CAMPAIGNID% and restype=2 and UPPER(NAME)=UPPER('%VARIABLE.EXP_FIELD%.EMAIL.FROM')) as [FROM]
					, (select CVALUE from resvariables with (nolock) where resid=%CAMPAIGN.CAMPAIGNID% and restype=2 and UPPER(NAME)=UPPER('%VARIABLE.EXP_FIELD%.EMAIL.NAME')) as [NAME]
					, (select CVALUE from resvariables with (nolock) where resid=%CAMPAIGN.CAMPAIGNID% and restype=2 and UPPER(NAME)=UPPER('%VARIABLE.EXP_FIELD%.EMAIL.TO')) as [TO]
					, (select CVALUE from resvariables with (nolock) where resid=%CAMPAIGN.CAMPAIGNID% and restype=2 and UPPER(NAME)=UPPER('%VARIABLE.EXP_FIELD%.EMAIL.CC')) as [CC]
					, (select CVALUE from resvariables with (nolock) where resid=%CAMPAIGN.CAMPAIGNID% and restype=2 and UPPER(NAME)=UPPER('%VARIABLE.EXP_FIELD%.EMAIL.BCC')) as [BCC]
					, (select CVALUE from resvariables with (nolock) where resid=%CAMPAIGN.CAMPAIGNID% and restype=2 and UPPER(NAME)=UPPER('%VARIABLE.EXP_FIELD%.EMAIL.SUBJECT')) as [SUBJECT]
					, (select MVALUE from resvariables with (nolock) where resid=%CAMPAIGN.CAMPAIGNID% and restype=2 and UPPER(NAME)=UPPER('%VARIABLE.EXP_FIELD%.EMAIL.BODY')) as [BODY]
					, (select CVALUE from resvariables with (nolock) where resid=%CAMPAIGN.CAMPAIGNID% and restype=2 and UPPER(NAME)=UPPER('%VARIABLE.EXP_FIELD%.EMAIL.TEMPLATE')) as [TEMPLATE]
					</SQL>
				</Query>
			</Query>
			<Query>
				<Parameter name="EmailBody">%CAMPAIGN_EMAIL.BODY \SW"","%SCRIPTDEF_EMAIL.BODY%"%</Parameter>
				<SQL Collection="DATABASE_TEMPLATE">
				select 1 where len(@EmailBody)>0
				</SQL>
				<Action Type="eMail">
					<System>SMTP</System>
					<MailServer>%CAMPAIGN_EMAIL.SMTP \SW[],[%SCRIPTDEF_EMAIL.SMTP%]%</MailServer>
					<From Name="%CAMPAIGN_EMAIL.NAME \SW[],[%SCRIPTDEF_EMAIL.NAME%]%">%CAMPAIGN_EMAIL.FROM \SW"","%SCRIPTDEF_EMAIL.FROM%" \SW"","backoffice@calway.nl"%</From>					
					<Recipient Type="TO">%CAMPAIGN_EMAIL.TO \SW"","%SCRIPTDEF_EMAIL.TO%" \SW"","%EMAIL_TO.VALUE%"%</Recipient>
					<Recipient Type="CC">%CAMPAIGN_EMAIL.CC \SW"","%SCRIPTDEF_EMAIL.CC%"%</Recipient>
					<Recipient Type="BCC">%CAMPAIGN_EMAIL.BCC \SW"","%SCRIPTDEF_EMAIL.BCC%"%</Recipient>
					<Subject>%CAMPAIGN_EMAIL.SUBJECT \SW"","%SCRIPTDEF_EMAIL.SUBJECT%"%</Subject>
					<Attachment PathPrefix="%ENVIRONMENT.CURRENTDIRECTORY%\templates\%CALLLIST.SCRIPTID%\attachments\" Seperator="+">%SCRIPT.INFO%</Attachment>
					<Body>%CAMPAIGN_EMAIL.BODY \SW"","%SCRIPTDEF_EMAIL.BODY%"%</Body>
				</Action>
			</Query>
			<Query>
				<Parameter name="EmailBody">%CAMPAIGN_EMAIL.BODY \SW"","%SCRIPTDEF_EMAIL.BODY%"%</Parameter>
				<SQL Collection="DATABASE_TEMPLATE">
				select 1 where len(@EmailBody)=0
				</SQL>
				<Action Type="eMail">
					<System>SMTP</System>
					<MailServer>%CAMPAIGN_EMAIL.SMTP \SW[],[%SCRIPTDEF_EMAIL.SMTP%]%</MailServer>
					<From Name="%CAMPAIGN_EMAIL.NAME \SW[],[%SCRIPTDEF_EMAIL.NAME%]%">%CAMPAIGN_EMAIL.FROM \SW"","%SCRIPTDEF_EMAIL.FROM%" \SW"","backoffice@calway.nl"%</From>					
					<Recipient Type="TO">%CAMPAIGN_EMAIL.TO \SW"","%SCRIPTDEF_EMAIL.TO%" \SW"","%EMAIL_TO.VALUE%"%</Recipient>
					<Recipient Type="BCC">%CAMPAIGN_EMAIL.BCC \SW"","%SCRIPTDEF_EMAIL.BCC%"%</Recipient>
					<Subject>%CAMPAIGN_EMAIL.SUBJECT \SW"","%SCRIPTDEF_EMAIL.SUBJECT%"%</Subject>
					<Attachment PathPrefix="%ENVIRONMENT.CURRENTDIRECTORY%\templates\%CALLLIST.SCRIPTID%\attachments\" Seperator="+">%SCRIPT.INFO%</Attachment>
					<Body Innersource="FILE">%ENVIRONMENT.CURRENTDIRECTORY%\templates\%CALLLIST.SCRIPTID%\email\%CAMPAIGN_EMAIL.TEMPLATE \SW"","%SCRIPTDEF_EMAIL.TEMPLATE%" \SW"","index.html"%</Body>
				</Action>
			</Query>
			<Action Type="SQL">
				<SQL Collection="UPDATE">
					update script set EXP_%VARIABLE.EXP_FIELD%='%SYS.DATE \DTdd-MM-yyyy HH:mm%' 
					from callpro._R%ENTRY.CLID% script 
					where clentryid=%ENTRY.CLENTRYID% 
					and (EXP_%VARIABLE.EXP_FIELD% is null or EXP_%VARIABLE.EXP_FIELD%='')
				</SQL>
			</Action>					

		</Query>
	</Query>
</Settings>
