<Settings>
	<name>Informatiemail</name>
	<schedule type="Weekly">
		<weekly>
			<RunOnDay>ma,di,wo,do,vr</RunOnDay>   
			<StartTime>21:15</StartTime>
		</weekly>  
	</schedule> 
	<Variables>
		<EXP_FIELD>INFO</EXP_FIELD>
		<EXP_STATIDS>2000,2001,2321</EXP_STATIDS>
	</Variables>	
	<System>false</System>
	<RegionalSettings>
		<Language>nl-NL</Language>
	</RegionalSettings>

	<Query>
		<SQL Collection="CALLLIST">
			select resdefs.resid, resdefs.name, cldefs.scriptid 
			from resdefs with (nolock) join cldefs with (nolock) on resdefs.resid = cldefs.clid 
			where cldefs.scriptid in (select distinct ScriptID from scriptflddefs with (nolock) where UPPER(fldname) = UPPER('%VARIABLE.EXP_FIELD%')) 
			and cldefs.scriptid in (select distinct ScriptID from scriptflddefs with (nolock) where UPPER(fldname) = UPPER('EXP_%VARIABLE.EXP_FIELD%')) 
		</SQL>
		<Query>
			<SQL Collection="ENTRY">
				select entry.* 
				from clentries entry with (nolock) 
				join callpro._r%CALLLIST.RESID% script with (nolock) on entry.clentryid = script.clentryid 
				where entry.statid in (%VARIABLE.EXP_STATIDS%) 
				and (script.EXP_%VARIABLE.EXP_FIELD% is null or script.EXP_%VARIABLE.EXP_FIELD% = '') 
				and not (script.%VARIABLE.EXP_FIELD% = '' or script.%VARIABLE.EXP_FIELD% is null)
			</SQL>
			<Query>
				<SQL Collection="SCRIPT">select * from callpro._r%CALLLIST.RESID% script with (nolock) where clentryid=%ENTRY.CLENTRYID%</SQL>
			</Query>
			<Query>
				<SQL Collection="AGENT">select * from resdefs with (nolock) where resid=%ENTRY.INLOGID \SW"","-52"%</SQL>
			</Query>

			<Query>
				<SQL Collection="EMAIL_TO">select '%'+'SCRIPT.'+'%VARIABLE.EXP_FIELD%'+'_EMAIL_TO%' as VALUE</SQL>
			</Query>
			<Query>
				<SQL Collection="ATTACHMENT">select '%'+'SCRIPT.'+'%VARIABLE.EXP_FIELD%'+'%' as VALUE</SQL>
			</Query>
			
			<Comment>Haal de benodigde EMAIL instellingen van de scriptdefintie op als ze er zijn</Comment>
			<Query>
				<SQL Collection="SCRIPTDEF_EMAIL_FROM">select CVALUE as VALUE from resvariables with (nolock) where resid=%CALLLIST.SCRIPTID% and restype=30 and UPPER(NAME)=UPPER('%VARIABLE.EXP_FIELD%.EMAIL.FROM')</SQL>
			</Query>
			<Query>
				<SQL Collection="SCRIPTDEF_EMAIL_NAME">select CVALUE as VALUE from resvariables with (nolock) where resid=%CALLLIST.SCRIPTID% and restype=30 and UPPER(NAME)=UPPER('%VARIABLE.EXP_FIELD%.EMAIL.NAME')</SQL>
			</Query>
			<Query>
				<SQL Collection="SCRIPTDEF_EMAIL_TO">select CVALUE as VALUE from resvariables with (nolock) where resid=%CALLLIST.SCRIPTID% and restype=30 and UPPER(NAME)=UPPER('%VARIABLE.EXP_FIELD%.EMAIL.TO')</SQL>
			</Query>
			<Query>
				<SQL Collection="SCRIPTDEF_EMAIL_BCC">select CVALUE as VALUE from resvariables with (nolock) where resid=%CALLLIST.SCRIPTID% and restype=30 and UPPER(NAME)=UPPER('%VARIABLE.EXP_FIELD%.EMAIL.BCC')</SQL>
			</Query>
			<Query>
				<SQL Collection="SCRIPTDEF_EMAIL_BODY">select MVALUE as VALUE from resvariables with (nolock) where resid=%CALLLIST.SCRIPTID% and restype=30 and UPPER(NAME)=UPPER('%VARIABLE.EXP_FIELD%.EMAIL.BODY')</SQL>
			</Query>
			<Query>
				<SQL Collection="SCRIPTDEF_EMAIL_SUBJECT">select CVALUE as VALUE from resvariables with (nolock) where resid=%CALLLIST.SCRIPTID% and restype=30 and UPPER(NAME)=UPPER('%VARIABLE.EXP_FIELD%.EMAIL.SUBJECT')</SQL>
			</Query>
			<Query>
			  <SQL Collection="SCRIPTDEF_EMAIL_TEMPLATE">select CVALUE as VALUE from resvariables with (nolock) where resid=%CALLLIST.SCRIPTID% and restype=30 and UPPER(NAME)=UPPER('%VARIABLE.EXP_FIELD%.EMAIL.TEMPLATE')</SQL>
			</Query>

			<Comment>Haal de benodigde EMAIL instellingen van de campagne op als ze er zijn</Comment>
			<Query>
				<SQL Collection="CAMPAIGN">select top 1 campaignid from clentryattempts with (nolock) where clentryid=%ENTRY.CLENTRYID% order by createddtm desc</SQL>
				<Query>
					<SQL Collection="CAMPAIGN_EMAIL_FROM">select CVALUE as VALUE from resvariables with (nolock) where resid=%CAMPAIGN.CAMPAIGNID% and restype=2 and UPPER(NAME)=UPPER('%VARIABLE.EXP_FIELD%.EMAIL.FROM')</SQL>
				</Query>
				<Query>
					<SQL Collection="CAMPAIGN_EMAIL_NAME">select CVALUE as VALUE from resvariables with (nolock) where resid=%CAMPAIGN.CAMPAIGNID% and restype=2 and UPPER(NAME)=UPPER('%VARIABLE.EXP_FIELD%.EMAIL.NAME')</SQL>
				</Query>
				<Query>
					<SQL Collection="CAMPAIGN_EMAIL_TO">select CVALUE as VALUE from resvariables with (nolock) where resid=%CAMPAIGN.CAMPAIGNID% and restype=2 and UPPER(NAME)=UPPER('%VARIABLE.EXP_FIELD%.EMAIL.TO')</SQL>
				</Query>
				<Query>
					<SQL Collection="CAMPAIGN_EMAIL_BCC">select CVALUE as VALUE from resvariables with (nolock) where resid=%CAMPAIGN.CAMPAIGNID% and restype=2 and UPPER(NAME)=UPPER('%VARIABLE.EXP_FIELD%.EMAIL.BCC')</SQL>
				</Query>
				<Query>
					<SQL Collection="CAMPAIGN_EMAIL_BODY">select MVALUE as VALUE from resvariables with (nolock) where resid=%CAMPAIGN.CAMPAIGNID% and restype=2 and UPPER(NAME)=UPPER('%VARIABLE.EXP_FIELD%.EMAIL.BODY')</SQL>
				</Query>
				<Query>
					<SQL Collection="CAMPAIGN_EMAIL_SUBJECT">select CVALUE as VALUE from resvariables with (nolock) where resid=%CAMPAIGN.CAMPAIGNID% and restype=2 and UPPER(NAME)=UPPER('%VARIABLE.EXP_FIELD%.EMAIL.SUBJECT')</SQL>
				</Query>
				<Query>
					<SQL Collection="CAMPAIGN_EMAIL_TEMPLATE">select CVALUE as VALUE from resvariables with (nolock) where resid=%CAMPAIGN.CAMPAIGNID% and restype=2 and UPPER(NAME)=UPPER('%VARIABLE.EXP_FIELD%.EMAIL.TEMPLATE')</SQL>
				</Query>
			</Query>
			<Action Type="eMail">
				<System>SMTP</System>
				<From Name="%CAMPAIGN_EMAIL_NAME.VALUE \SW[],[%SCRIPTDEF_EMAIL_NAME.VALUE%]%">%CAMPAIGN_EMAIL_FROM.VALUE \SW"","%SCRIPTDEF_EMAIL_FROM.VALUE%"%</From>					
				<Recipient Type="TO">%CAMPAIGN_EMAIL_TO.VALUE \SW"","%SCRIPTDEF_EMAIL_TO.VALUE%" \SW"","%EMAIL_TO.VALUE%"%</Recipient>
				
				<Comment>
					Als er altijd een standaard BCC naar de backoffice moet voeg dan achteraan een extra \SW toe: \SW"","backoffice@domein.nl" 
				</Comment>
				<Recipient Type="BCC">%CAMPAIGN_EMAIL_BCC.VALUE \SW"","%SCRIPTDEF_EMAIL_BCC.VALUE%"%</Recipient>
				<Subject>%CAMPAIGN_EMAIL_SUBJECT.VALUE \SW"","%SCRIPTDEF_EMAIL_SUBJECT.VALUE%"%</Subject>

				<Comment>
					Helaas moet hier hard-coded worden verwezen naar het correcte veld!
				</Comment>
				<Attachment PathPrefix="%ENVIRONMENT.CURRENTDIRECTORY%\templates\%CALLLIST.SCRIPTID%\attachments\" Seperator="+">%SCRIPT.INFO%</Attachment>
				<Body Merge="YES" Source="FILE">%ENVIRONMENT.CURRENTDIRECTORY%\templates\%CALLLIST.SCRIPTID%\email\%CAMPAIGN_EMAIL_TEMPLATE.VALUE \SW"","%SCRIPTDEF_EMAIL_TEMPLATE.VALUE%" \SW"","index.html"%</Body>
			</Action>
			<Action Type="SQL">
				<SQL Collection="UPDATE">
					update script set EXP_%VARIABLE.EXP_FIELD%='%SYS.DATE \DTdd-MM-yyyy HH:mm%' 
					from callpro._R%ENTRY.CLID% script 
					where clentryid=%ENTRY.CLENTRYID% 
					and (EXP_%VARIABLE.EXP_FIELD% is null or EXP_%VARIABLE.EXP_FIELD%='')
				</SQL>
			</Action>					

		</Query>
	</Query>
</Settings>
